ul, ul li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    line-height: 1.4;
    color: #000000;
    list-style: none;
    font-size: 0.9em;
}

.articulo {
    color: #CC6600;
    font-size: 1.6em;
    line-height: 1.2;
    margin: 0.3;
}

.menu {
    margin-right: 1em;
    color: white;
    font-size: 1.3em;
}

ul, ul li {
    margin-right: 1em;
    font-size: 1.3em;  
}

.lateral {
    font-size: 0.9em;
    color: #999;
}

.noticias {
    margin-left: 1em;
    color: #003366;
}

.publicidad {
    color: #555;
}

.clear {
    clear:both;
}

img {
    border:none
}

#cabecera,#menu,#lateral,#contenido,#contenido #principal,#contenido #secundario,#pie
    {
        border:2px solid #777;
    }
#cabecera {
    clear:both;
 }

#menu {
    clear:both;
    }
#lateral {
    float:left;width:20%;
}